*.log
*.jou
*.rpt
*.vdi
*.bin
*.mcs
*.svf
*.image
*.edf
*.edif
*.vn
*.vm
*.sdf
*.vcd
*.saif
*.tcf
*.wdb
unisims
*.elf
*.a
*.sa
*.so
*.lib
vivado.cache/
vivado.hw/
vivado.ip_user_files/
vivado.runs/
vivado.sim/
.Xil/
.cache/
fsm_encoding.os
tab_*/
webtalk.*
vivado_pid*.str
hs_err_pid*
xelab.*
xsim.*
xvlog.*
*.cache
*.sim
*.runs
*.hw
*.backup.*
*.debug
*.dcp
.vscode
